<style>
a
{
    color: black;
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}
</style>
<!-- Voir si on ne peut pas utiliser plutôt postmessage/ajax plutôt qu'un iframe -->
<a href="{{ link_to_day }}" target="blank" id="today" class="black-link" alt="More details on Theochrone" title="Plus de détails sur Theochrone.fr">{{ day }}</a> : <a target='blank' href="{{ feast.link }}" id="text-mass" alt="Link to Introibo.fr" title="Textes de la messe et de l'office sur Introibo">{{ feast.nom.fr }} {% if feast.pal %} (messe <em>Pro Aliquibus Locis</em>){% endif %}</a>
