{% extends "base.html" %}
{% block title %}{{ titre }} {% endblock %}
{% block content %}
    <div id="result" class="section clearfix object-non-visible" data-animation-effect="fadeIn">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 class="title text-center">Résultats</h1>
            {% for date,jour in deroule %}
            <h3>{{ date }}</h3>
            <div id="value">                
                    {% for fete in jour %}
                    <div id="entourage">
                        <div id="image">image</div>
                        <div id="result">{{ fete.nom.francais }}
                        {% if inversion %}
                        - {{ fete.date }}
                        {% endif %}</div>
                    </div>{% endfor %}
            </div>
                    
         {% endfor %}       
        </div></div></div></div>
        <!-- section start -->
		<!-- ================ -->
		<div class="default-bg space">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="text-center">Au service de <span>Dieu</span></h1>
					</div>
				</div>
			</div>
		</div>
		<!-- section end -->
        <div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
			<div class="container"><h1 id="research" class="title text-center">Recherche</h1>
				<div class="row">
					<div class="col-md-12">
						
                                                    <form role="form" action="date_seule#result" method="get">
                                                        {% csrf_token %}
                                                        {{ recherche_simple.as_p }}
                                                        <input type="submit" value="Chercher" class="btn btn-default"/>
                                                    </form></div></div>
                                <div class="row">
					<div class="col-md-12">
                                                    <form action="mot_clef#result" method="get">
                                                        {% csrf_token %}
                                                        {{ recherche_mot_clef.as_p }}
                                                        <input type="submit" value="Chercher" class="btn btn-default"/>
                                                    </form></div></div>
                                <div class="row">
					<div class="col-md-12">
                                                    <form action="mois#result" method="get">
                                                        {% csrf_token %}
                                                        {{ mois_entier.as_p }}
                                                        <input type="submit" value="Chercher" class="btn btn-default"/>
                                                    </form>
                                                    </div></div></div>
        </div>
        
    </div>
{% endblock %}
