{% extends "base.html" %}{% load static %}
{% block title %}{{ titre }} {% endblock %}

{% block onlinemenu %}
<li><a href="#result">Résultats</a></li>
<li><a href="#research">Recherche</a></li>
{% endblock onlinemenu %}

{% block content %}
<!-- section start -->
		<!-- ================ -->
    <div id="resultup" class="section clearfix object-non-visible" data-animation-effect="fadeIn">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 id="result" class="title text-center">{% if martyrology and not inversion%}{{ main_title }}{% else %}Résultats{% endif %}</h1>
						{% if mois_seul or martyrology and not inversion %}
         <nav aria-label="...">
            <ul class="pager">
                <li class="previous"><a href="{{ previous_item }}"><span aria-hidden="true">&larr;</span> Précédent</a></li>
                <li class="next"><a href="{{ next_item }}">Suivant <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
        </nav>
        {% endif %}
        {% if martyrology %}
            {% for daytext in result %}
            <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" href="#martyrology{{ forloop.counter0 }}">{{ daytext.title }}</a>
      </h4>
    </div>
    <div id="martyrology{{ forloop.counter0 }}" class="panel-collapse collapse {% if result_len == 1 %}in{% endif %}">
      <div class="panel-body">
                <blockquote class="blockquote">
                    {% for line in daytext.main %}
                        <p>{% if forloop.counter0 == daytext.matching_line %}<mark>{{ line }}</mark>{% else %}{{ line }}{% endif %}</p>
                    {% endfor %}
                    <p>{{ daytext.last_sentence }}</p>
                    <footer class="blockquote-footer">Crédits : <cite title="Source Title">{{ credits }}</cite></footer>
                </blockquote>
    </div></div></div>
            {% endfor %}
        {% else %}       
            {% for date,jour in deroule %}
            <h3><a
            href="{% static "kalendarium/todivinumofficium.html" %}?day={{ date.day }}&month={{ date.month }}&year={{ date.year }}&lang=fr&office=mass"
	    title="Cliquez pour lire l'intégralité des textes de la messe du jour sur Divinum Officium" alt="Mass texts of the day in user language on Divinum Officium" target="_blank" name="title-link">{{ date | date:"l j E Y" | capfirst }}{# problème puisqu'on change de langue de base TODO #}</a>
            </h3>
            <div id="value">     <div class="panel-group">           
                    {% for fete in jour %}
                    {% if not fete.pal or fete.pal and pal %}
                    
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" href="#{{ fete.hache }}">{{ fete.nom.fr }}{% if inversion %}
                        - {{ fete.date }} {% endif %}{% if fete.pal %} (messe <em>Pro Aliquibus Locis</em>){% endif %}</a>
      </h4>
    </div>
    <div id="{{ fete.hache }}" class="panel-collapse collapse">
      <div class="panel-body">
	      <div class="container"><div class="row"><div class="col-md-4">{% if not fete.images %}<img class="img-responsive" src="{% static "kalendarium/images/image_not_found.png" %}" alt="Image not found">{% else %}<div class="image-box">
									<div class="overlay-container">
										<img src="/static/fetes/{{ fete.images.0.link }}" alt="{{fete.personne}}">
										{% if fete.images.1 %}<a class="overlay" data-toggle="modal" data-target="#{{ fete.hache }}modal">
											<i class="fa fa-search-plus"></i>
											<span>Voir les autres images disponibles</span>
										</a>{% endif %}
									</div>
									<a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-1">{{ fete.images.0.titre.fr }}</a>
								</div>{% endif %}</div><div class="col-md-1"></div><div class="col-md-6">
      <table class="table table-hover">
    <tbody>
        
        <tr>
		<th>Propre</th><td>{{ fete.proper_ }}<td></tr>
        <tr>
            <th>Édition</th><td>{{ fete.ordo }}</td></tr>
        <tr>
            <th>Célébration</th><td>Cette fête{% if fete.peut_etre_celebree %} peut être célébrée{% if fete.commemoraison %} ou commémorée{% endif %}{% else %} est {% if fete.celebree or fete.peut_etre_celebree %}célébrée{% endif %}{% if fete.commemoraison %}commémorée{% endif %}{% if fete.omission %}omise{% endif %}{% endif %}.
        {% if fete.degre <= 5 %}
        <tr>
          <th>Classe</th><td>{% if fete.degre == 5 %}Commémoraison{% else%}{{ fete.degre }}{% endif %}</td></tr>{% endif %}
        <tr>
            <th>Couleur liturgique</th><td>{{ fete.couleur.capitalize }}</td></tr>
        
        <tr>
            <th>Temporal</th><td>{% if fete.temporal %}Oui{% else %}Non{% endif %}</td></tr>
        <tr>
            <th>Sanctoral</th><td>{% if fete.sanctoral %}Oui{% else %}Non{% endif %}</td></tr>
        
        <tr>
            <th>Temps liturgique</th><td>{{ fete.temps_liturgique_ }}</td></tr>
        <tr>
            <th>Fête transférée</th><td>{% if fete.transferee %}Oui, du {{ fete.date_originelle }}.{% else %}Non{% endif %}</td></tr>
        {% if fete.addendum.fr %}
        <tr>
            <th>Autres informations</th><td>{{ fete.addendum.fr }}</td></tr>{% endif %}
    </tbody></table>
      
      
      </div></div></div>
      </div>
      <div class="panel-footer"><a target="_blank" href="{{ fete.link }}">Textes de la messe et de l'office sur Introibo.fr</a></div>
    </div>
  </div>
  {% endif %}
{% endfor %}</div>
            </div>
            
            
         {% endfor %} 
        {% endif %}
         {% if not inversion %}
         <nav aria-label="...">
            <ul class="pager">
                <li class="previous"><a href="{{ previous_item }}"><span aria-hidden="true">&larr;</span> Précédent</a></li>
                <li class="next"><a href="{{ next_item }}">Suivant <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
        </nav>
        {% endif %}
<!--          trop d'espace : des div inutiles ?-->
        </div></div></div></div>
        <!-- section end -->
        <!-- section start -->
		<!-- ================ -->
		<div class="default-bg space">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="text-center">Au service de <span>Dieu</span></h1>
					</div>
				</div>
			</div>
		</div>
		<!-- section end -->
		
	<!-- section start -->
		<!-- ================ -->	
        <div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
			<div class="container"><h1 id="research" class="title text-center">Recherche</h1>
				<div class="row">
					<form class="form-inline">
						<ul class="list-inline">{{ shared_research.as_ul }}</ul> {# TODO Aligner le texte et le menu déroulant. TODO set proper following requested proper #}
					</form>
				</div>
				<div class="row">
					<div class="col-md-4"><h2>Rechercher une <span>date seule</span></h2>
						
                                                    <form role="form" action="date_seule#resultup" method="get">
                                                        {% csrf_token %}
                                                        {{ recherche_simple.as_p}}
                                                        <input type="submit" value="Chercher" class="btn btn-default"/>
                                                    </form></div>
                                                    <div class="col-md-4">
                                <h2>Rechercher par <span>mots-clefs</span></h2>
					
                                                    <form action="mot_clef#resultup" method="get">
                                                        {% csrf_token %}
                                                        {{ recherche_mot_clef.as_p }}
                                                        <input type="submit" value="Chercher" class="btn btn-default"/>
                                                    </form></div>
                                
					<div class="col-md-4"><h2>Rechercher un <span>mois entier</span></h2>
                                                    <form action="mois#resultup" method="get">
                                                        {% csrf_token %}
                                                        {{ mois_entier.as_p }}
                                                        <input type="submit" value="Chercher" class="btn btn-default"/>
                                                    </form>
                                                    </div></div>
        </div>
        
    </div><!-- section end -->
    <script> // TODO à déplacer dans un fichier de script

function fillForm(event) {
	//fill the hidden items in the form
	//get values from shared form
	var pal = document.getElementById("id_pal");//bool
	var martyrology = document.getElementById("id_martyrology"); //bool
	var proper = document.getElementById("id_proper"); // string
	//set values in target form
	var parent = event.target;
	parent['pal'].checked = pal.checked;
	parent['martyrology'].checked = martyrology.checked;
	parent['proper'].value = proper.value;
}

for (var i=0; i< document.forms.length; ++i) {
	document.forms[i].addEventListener('submit',fillForm);
}



    </script>
{% endblock %}
