{% extends "base.html" %}
{% block title %}{{ titre }} {% endblock %}
{% block content %}
    <table>
        <tr>
            <td>{% for date,jour in deroule.items %}
            <h3>{{ date }}</h3>
            <table>
                
                    {% for fete in jour %}
                    <tr><td id="image">image</td><td id="result">{{ fete.nom.francais }}
                    {% if inversion %}
                    - {{ fete.date }}
                    {% endif %}
                    </td>
                    </tr>
                    {% endfor %}
                
            </table>{% endfor %}
            </td>
            <td><h3>Recherche</h3>
                <form action="date_seule" method="get">
                    {% csrf_token %}
                    {{ recherche_simple.as_p }}
                    <input type="submit" value="Chercher" />
                </form>
                <form action="mot_clef" method="get">
                    {% csrf_token %}
                    {{ recherche_mot_clef.as_p }}
                    <input type="submit" value="Chercher" />
                </form>
                <form action="mois" method="get">
                    {% csrf_token %}
                    {{ mois_entier.as_p }}
                    <input type="submit" value="Chercher" />
                </form>
            </td>
        </tr>
    </table>
{% endblock %}
