{% extends "base.html" %}{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

	<!-- section start -->
		<!-- ================ -->
		<div class="section translucent-bg bg-image-1 blue">
			<div class="container object-non-visible" data-animation-effect="fadeIn">
				<h1 id="contribute"  class="text-center title">Contribuer</h1>
				<div class="space"></div>
				<div class="row">
					<div class="col-sm-6">
						<div class="media">
							<div class="media-body text-right">
								<h4 class="media-heading">Soutenir</h4>
								<p>Nous sommes conscients que ce n'est pas le Théochrone qui, à l'heure actuelle, a le plus besoin de soutien. Mais parce que rien ne peut se faire sans l'aide de Dieu, pourquoi ne pas dire un Ave Maria, ou n'importe quelle prière qui vous prendra moins d'une minute ? <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=J4WSB2Z7Y3MQ6">Vous pouvez également nous faire un don</a> : nos contributeurs sont bénévoles, mais nous avons des frais d'hébergement.</p>
							</div>
							<div class="media-right">
								<i class="fa fa-heart"></i>
							</div>
						</div>
                                        </div>
                                        <div class="col-sm-6">
						<div class="media">
							<div class="media-left">
								<i class="fa fa-check-square-o"></i>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Tester</h4>
								<p>Nous faisons tous nos efforts pour offrir le programme le plus performant et le plus fiable. Néanmoins, il est humainement impossible de ne pas faire d'erreur. Aussi, si vous pouviez tester un maximum de fonctionnalités sur un maximum de machines, vérifier toutes les informations rentrées pour chaque fête, et nous faire part des problèmes rencontrés, cela nous serait très utile.</p>
							</div>
						</div>
                                        </div>
                                </div>
                                <div class="row">
					<div class="col-sm-6">
						<div class="media">
							<div class="media-body text-right">
								<h4 class="media-heading">Faire connaître</h4>
								<p>Le Théochrone ne sert à rien s'il n'est pas utilisé. Faites le connaître autour de vous : partagez la page sur les réseaux sociaux, mettez un lien sur votre site, écrivez un article sur ce sujet, mais plus encore : parlez-en à vos proches, et dites leur d'en parler.</p>
							</div>
							<div class="media-right">
								<i class="fa fa-bullhorn"></i>
							</div>
						</div>
                                        </div>
                                        <div class="col-sm-6">
						<div class="media">
							<div class="media-left">
								<i class="fa fa-code"></i>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Développer</h4>
								<p>Vous avez des compétences en python3 ou en développement web ? Vous voulez proposer une nouvelle fonction, voire un nouvel algorithme, ou simplement corriger un bogue ? Nous avons besoin d'aide pour maintenir et développer le programme. Langages et frameworks utilisés : python3 avec PyQt5 et Django1.10, Cython, HTML5/CSS3 avec Boostrap, JavaScript avec JQuery. <a target="_blank" href="https://github.com/paucazou/theochrone" alt="Theochrone - GitHub">N'hésitez pas à visiter notre dépôt Git et à devenir contributeur !</a></p>
							</div>
						</div>
                                        </div>
                                    </div>
                                    <div class="row">
					<div class="col-sm-6">
                                                <div class="media">
							<div class="media-body text-right">
								<h4 class="media-heading">Suggérer</h4>
								<p>Le Théochrone se veut au service de ses utilisateurs : vous avez un besoin particulier, une fonctionnalité nouvelle que vous voudriez proposer, une amélioration ou quoi que ce soit à nous proposer ? N'hésitez pas à nous transmettre votre suggestion : nous en tiendrons compte et mettrons tout en œuvre pour vous satisfaire.</p>
							</div>
							<div class="media-right">
								<i class="fa fa-exclamation"></i>
							</div>
						</div>
                                        </div>
                                        <div class="col-sm-6">
                                                <div class="media">
							<div class="media-left">
								<i class="fa fa-picture-o"></i>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Embellir</h4>
								<p>Faute d'avoir les compétences dans le domaine, le design actuel du site relève plus du bricolage que d'un travail professionnel. Nous recherchons donc de l'aide pour proposer un design plus élégant et plus conforme à l'esprit liturgique. Nous recherchons également un illustrateur pour proposer des représentations des différentes fêtes, afin de trouver un peu plus d'unité.</p>
							</div>
						</div>
                                        </div>
                                    </div>
                                    <div class="row">
					<div class="col-sm-6">
						<div class="media">
							<div class="media-body text-right">
								<h4 class="media-heading">Renseigner</h4>
								<p>Le Théochrone veut être un calendrier liturgique pour tous les rits traditionnels, tous les propres locaux, toutes les églises mêmes, et ce pour toutes les époques. Nous avons besoin d'informations, mais la tâche est lourde. Aussi, tout ce que vous pouvez connaître au sujet des fêtes de tel diocèse ou de telle abbaye, n'hésitez pas à nous les transmettre pour que nous puissions enrichir notre base.</p>
							</div>
							<div class="media-right">
								<i class="fa fa-envelope"></i>
							</div>
						</div>
					</div>
                                        <div class="col-sm-6">
                                            <div class="media">
							<div class="media-left">
								<i class="fa fa-language"></i>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Traduire</h4>
								<p>Le Théochrone vise à l'universalité. Si vous avez quelques compétences en anglais, espagnol, voire en papou ou en swahili, n'hésitez pas à proposer vos services. En plus du site, la traduction concerne essentiellement des textes liturgiques et des termes informatiques.</p>
							</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="space visible-xs"></div>
			</div>
		</div>
		<!-- section end -->
{% endblock %}
