{% extends "base.html" %}{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div id="widget" class="container" data-animation-effect="fadeIn">
    <div class="space"></div>
    <h1 id="main" class="title text-center">Widget <span>complet</span></h1>
    <div class="row">
	<div class="col-md-4">
		<h3>Options</h3>
		<form textareaid="mainwidget" widgetid="widget_example">
			{{ options_day.as_p }}
			<input type="submit" class="btn btn-default" value="OK" textareaid="mainwidget" name="ok"/>
		</form>
	</div>
        <div class="col-md-4">
            <h3>Code à copier/coller</h3>
            <textarea class="form-control" rows="3" id="mainwidget" placeholder="Message" name="message" required>{{ widgets.widget_day }}</textarea>
        </div>
        <div class="col-md-4">
            <h3>Exemple</h3>
	    <div id="widget_example">{# {{ widgets.widget_day | safe }} #}
		    </div> {# BUG height : 0px; pose problème -> problème de postMessage surtout : origin == null Aussi, le widget est coupé. #}
        </div>
    </div>
    <div class="space"></div>
    <h1 id="mobile" class="title text-center">Widget <span>léger</span></h1>
    <div class="row">
	    <div class="col-md-4">
		    <h3>Options</h3>
		    <form textareaid="mobmessage" widgetid="widget_example_mobile">
			    {{ options_day_mobile.as_p }}
			    <input type="submit" class="btn btn-default" value="OK" textareaid="mobmessage" name="ok"/>
		    </form>
	    </div>
        <div class="col-md-4">
        <h3>Code à copier/coller</h3>
        <textarea class="form-control" rows="3" id="mobmessage" placeholder="Message" name="message" required>{{ widgets.widget_day_mobile }}</textarea>
        </div>
        <div class="col-md-4">
        <h3>Exemple</h3>
	<div id="widget_example_mobile">{# {{ widgets.widget_day_mobile | safe }} #}
		</div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
function setUrl(event) {
	/* This function sets the url in the textarea if the PAL option or a proper is changed
	*/
	event.preventDefault();
	// find textarea
	var options = event.target;
	var textareaid = $(options).attr("textareaid");
	var textarea = $("#" + textareaid);
	var text_inside = textarea.val();
	// find values and replace
	// proper
	var new_proper = options['proper'].value;
	var properRegex = /&proper=[a-z]+/;
	text_inside=text_inside.replace(properRegex,"&proper=" + new_proper); 
	// pal
	if (textareaid === "mainwidget") {
		// set or unset pal
		var pal = options['pal'].checked;
		if (pal) {
			pal="on";
		}
		var palRegex = /&pal=[a-z]+/;
		text_inside=text_inside.replace(palRegex,"&pal="+pal); 
	}
	// reset textarea value
	textarea.val(text_inside);
	// change widget example TODO
	var exampleid = $(options).attr("widgetid");
	var example = $("#" + exampleid);
	example.html(text_inside);
}
// show the widget when the page is loaded. HACK
$("#widget_example_mobile").html($("#mobmessage").val()) {# it is very important that this one is called before this beyond #}
$("#widget_example").html($("#mainwidget").val())

// if user click on a texterea: select it
var textereas = document.querySelectorAll('textarea');
for (var i=0;i<textereas.length;i++) {
	var elt = textereas[i];
	elt.addEventListener('click',function (event) {
		event.target.select();
	});
}
// link forms to setUrl
for (var i=0;i<document.forms.length;++i) {
	document.forms[i].addEventListener('submit',setUrl);
}
</script>
    
{% endblock %}
