{% load static %}
<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="fr">
<!--<![endif]-->
	<head>
                <meta charset="utf-8" />
		<title>Theochrone : {% block title %}{% endblock %}</title>
		<meta name="description" content="Theochrone. A Liturgical Calendar for Tridentine Rite.">
		<meta name="author" content="Philippe Aucazou">

		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Favicon -->
		<link rel="shortcut icon" href="{% static "kalendarium/images/favicon.ico" %}">

		<!-- Web Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>

		<!-- Bootstrap core CSS -->
		<link href="{% static "kalendarium/bootstrap/css/bootstrap.css" %}" rel="stylesheet">

		<!-- Font Awesome CSS -->
		<link href="{% static "kalendarium/fonts/font-awesome/css/font-awesome.css" %}" rel="stylesheet">

		<!-- Plugins -->
		<link href="{% static "kalendarium/css/animations.css" %}" rel="stylesheet">

		<!-- Worthy core CSS file -->
		<link href="{% static "kalendarium/css/style.css" %}" rel="stylesheet">

		<!-- Custom css --> 
		<link href="{% static "kalendarium/css/custom.css" %}" rel="stylesheet">
	</head>
	<body class="no-trans">
		<!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop"><i class="icon-up-open-big"></i></div>

		<!-- header start -->
		<!-- ================ --> 
		<header class="header fixed clearfix navbar navbar-fixed-top">
			<div class="container">
				<div class="row">
					<div class="col-md-4">

						<!-- header-left start -->
						<!-- ================ -->
						<div class="header-left clearfix">

							<!-- logo -->
							<div class="logo smooth-scroll">
								<a href="#home"><img id="logo" src="{% static "kalendarium/images/logo.png" %}" alt="Theochrone"></a>
							</div>

							<!-- name-and-slogan -->
							<div class="site-name-and-slogan smooth-scroll">
								<div class="site-name"><a href="#home">Théochrone</a></div>
								<div class="site-slogan">Le temps au service de Dieu</div>
							</div>

						</div>
						<!-- header-left end -->

					</div>
					<div class="col-md-8">

						<!-- header-right start -->
						<!-- ================ -->
						<div class="header-right clearfix">

							<!-- main-navigation start -->
							<!-- ================ -->
							<div class="main-navigation animated">

								<!-- navbar start -->
								<!-- ================ -->
								<nav class="navbar navbar-default" role="navigation">
									<div class="container-fluid">

										<!-- Toggle get grouped for better mobile display -->
										<div class="navbar-header">
											<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
												<span class="sr-only">Toggle navigation</span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
											</button>
										</div>

										<!-- Collect the nav links, forms, and other content for toggling -->
										<div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
											<ul class="nav navbar-nav navbar-right">
												<li class="active"><a href="#home">Accueil</a></li>
												<li><a href="#result">Résultats</a></li>
												<li><a href="#research">Recherche</a></li>
												<li><a href="#download">Télécharger</a></li>
												<li><a href="#help">Aide</a></li>
												<li><a href="#contribute">Contribuer</a></li>
											</ul>
										</div>

									</div>
								</nav>
								<!-- navbar end -->

							</div>
							<!-- main-navigation end -->

						</div>
						<!-- header-right end -->

					</div>
				</div>
			</div>
		</header>
		<!-- header end -->
		
		
	<!-- banner start -->
		<!-- ================ -->
		<div id="home" class="banner">
			<div class="banner-image"></div>
			<div class="banner-caption">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 object-non-visible" data-animation-effect="fadeIn">
							<h1 class="text-center">Bienvenue dans le <span>Théochrone</span></h1>
							<p class="lead text-center">Le Théochrone, un calendrier liturgique perpétuel selon le rit tridentin (missel de 1962).<a class="btn" data-toggle="modal" data-target="#theowhat">En savoir plus...</a></p>
							
							<!-- Modal -->
								<div class="modal fade" id="theowhat" tabindex="-1" role="dialog" aria-labelledby="theowhat-label" aria-hidden="true">
									<div class="modal-dialog modal-lg">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
												<h4 class="modal-title" id="theowhat-label">En deux mots...</h4>
											</div>
											<div class="modal-body">
												<h3>Qu'est-ce que le Théochrone ?</h3>
												<div class="row">
													<div class="col-md-6">
														<p>Le Théochrone, qu'est-ce ? Un calendrier liturgique selon le rit tridentin, qui suit le missel de 1962. Rentrez une date, il vous donnera une fête, et même souvent plusieurs. Rentrez le nom d'un saint, ou d'une fête : il vous donnera sa date. Peu avare d'informations, le Théochrone peut aussi vous donner la couleur liturgique, la classe, le temps liturgique, et bien d'autres choses encore. Il se plie en trois pour vous satisfaire : vous pouvez l'utiliser en ligne, sur ce site, mais aussi <a href="#download">le télécharger</a> et l'utiliser grâce à une superbe interface graphique, et même en ligne de commandes ! </p>
													</div>
													<div class="col-md-6">
														<img src="{% static "kalendarium/images/portfolio-2.jpg" %}" alt="">
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
								<!-- Modal end -->
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- banner end -->
	
		{% block content %}{% endblock %}
		
        <!-- section start -->
		<!-- ================ -->
		<div class="section translucent-bg bg-image-2 pb-clear">
			<div class="container object-non-visible" data-animation-effect="fadeIn">
				<h1 id="download" class="title text-center">Télécharger</h1>
				<div class="space"></div>
				<div class="row">
					<div class="col-md-4">
						<div class="media testimonial">
							<div class="media-left">
								<img src="images/testimonial-1.png" alt="">
							</div>
							<div class="media-body">
								<h3 class="media-heading">Windows</h3>
								<blockquote>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo.</p>
									<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
								</blockquote>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="media testimonial">
							<div class="media-left">
								<img src="images/testimonial-2.png" alt="">
							</div>
							<div class="media-body">
								<h3 class="media-heading">Mac OS X</h3>
								<blockquote>
									<p>Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus.</p>
									<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
								</blockquote>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="media testimonial">
							<div class="media-left">
								<img src="images/testimonial-3.png" alt="">
							</div>
							<div class="media-body">
								<h3 class="media-heading">Linux</h3>
								<blockquote>
									<p>Aperiam consequatur quo quis exercitationem reprehenderit suscipit iste placeat.</p>
									<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
								</blockquote>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<!-- section end -->
		
        <!-- section start -->
		<!-- ================ -->
		<div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 id="help" class="title text-center">Aide du <span>Théochrone</span></h1>
						
						<div class="space"></div>
						<h2>Aide de l'application en ligne</h2>
						<div class="row">
							<div class="col-md-6">
								<img src="images/section-image-1.png" alt="">
								<div class="space"></div>
							</div>
							<div class="col-md-6">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi adipisci illo, voluptatum ipsam fuga error commodi architecto, laudantium culpa tenetur at id, beatae placeat deserunt iure quas voluptas fugit eveniet.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo ducimus explicabo quibusdam temporibus deserunt doloremque pariatur ea, animi a. Delectus similique atque eligendi, enim vel reiciendis deleniti neque aliquid, sit?</p>
								<ul class="list-unstyled">
									<li><i class="fa fa-caret-right pr-10 text-colored"></i> Lorem ipsum dolor sit amet</li>
									<li><i class="fa fa-caret-right pr-10 text-colored"></i> Reiciendis deleniti neque aliquid</li>
									<li><i class="fa fa-caret-right pr-10 text-colored"></i> Ipsam fuga error commodi</li>
									<li><i class="fa fa-caret-right pr-10 text-colored"></i> Lorem ipsum dolor sit amet</li>
									<li><i class="fa fa-caret-right pr-10 text-colored"></i> Dignissimos molestiae necessitatibus</li>
								</ul>
							</div>
						</div>
						<div class="space"></div>
						<h2>Aide de l'interface graphique</h2>
						<div class="row">
							<div class="col-md-6">
								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingOne">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
													Collapsible Group Item #1
												</a>
											</h4>
										</div>
										<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
											<div class="panel-body">
												Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher.
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingFour">
											<h4 class="panel-title">
												<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
													Collapsible Group Item #2
												</a>
											</h4>
										</div>
										<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
											<div class="panel-body">
												Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingThree">
											<h4 class="panel-title">
												<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
													Collapsible Group Item #3
												</a>
											</h4>
										</div>
										<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
											<div class="panel-body">
												Richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic.
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingOne">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
													Collapsible Group Item #1
												</a>
											</h4>
										</div>
										<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
											<div class="panel-body">
												Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher.
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingTwo">
											<h4 class="panel-title">
												<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
													Collapsible Group Item #2
												</a>
											</h4>
										</div>
										<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
											<div class="panel-body">
												Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingThree">
											<h4 class="panel-title">
												<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
													Collapsible Group Item #3
												</a>
											</h4>
										</div>
										<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
											<div class="panel-body">
												Richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic.
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="space"></div>
						<h2>Aide de la ligne de commandes</h2>
						<div class="row">
							<div class="col-md-6">
								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingOne">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
													Collapsible Group Item #1
												</a>
											</h4>
										</div>
										<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
											<div class="panel-body">
												Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher.
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingTwo">
											<h4 class="panel-title">
												<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
													Collapsible Group Item #2
												</a>
											</h4>
										</div>
										<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
											<div class="panel-body">
												Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingThree">
											<h4 class="panel-title">
												<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
													Collapsible Group Item #3
												</a>
											</h4>
										</div>
										<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
											<div class="panel-body">
												Richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic.
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingOne">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
													Collapsible Group Item #1
												</a>
											</h4>
										</div>
										<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
											<div class="panel-body">
												Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher.
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingTwo">
											<h4 class="panel-title">
												<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
													Collapsible Group Item #2
												</a>
											</h4>
										</div>
										<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
											<div class="panel-body">
												Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingThree">
											<h4 class="panel-title">
												<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
													Collapsible Group Item #3
												</a>
											</h4>
										</div>
										<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
											<div class="panel-body">
												Richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic.
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- section end -->

	<!-- section start -->
		<!-- ================ -->
		<div class="section translucent-bg bg-image-1 blue">
			<div class="container object-non-visible" data-animation-effect="fadeIn">
				<h1 id="contribute"  class="text-center title">Contribuer</h1>
				<div class="space"></div>
				<div class="row">
					<div class="col-sm-6">
						<div class="media">
							<div class="media-body text-right">
								<h4 class="media-heading">Soutenir</h4>
								<p>Nous sommes conscients que ce n'est pas le Théochrone qui, à l'heure actuelle, a le plus besoin de soutien. Mais parce que rien ne peut se faire sans l'aide de Dieu, pourquoi ne pas dire un Ave Maria, ou n'importe quelle prière qui vous prendra moins d'une minute ? <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=J4WSB2Z7Y3MQ6">Vous pouvez également nous faire un don</a> : nos contributeurs sont bénévoles, mais nous avons des frais d'hébergement.</p>
							</div>
							<div class="media-right">
								<i class="fa fa-heart"></i>
							</div>
						</div>
						<div class="media">
							<div class="media-body text-right">
								<h4 class="media-heading">Faire connaître</h4>
								<p>Le Théochrone ne sert à rien s'il n'est pas utilisé. Faites le connaître autour de vous : partagez la page sur les réseaux sociaux, mettez un lien sur votre site, écrivez un article sur ce sujet, mais plus encore : parlez-en à vos proches, et dites leur d'en parler.</p>
							</div>
							<div class="media-right">
								<i class="fa fa-bullhorn"></i>
							</div>
						</div>
						<div class="media">
							<div class="media-body text-right">
								<h4 class="media-heading">Suggérer</h4>
								<p>Le Théochrone se veut au service de ses utilisateurs : vous avez un besoin particulier, une fonctionnalité nouvelle que vous voudriez proposer, une amélioration ou quoi que ce soit à nous proposer ? N'hésitez pas à nous transmettre votre suggestion : nous en tiendrons compte et mettrons tout en œuvre pour vous satisfaire.</p>
							</div>
							<div class="media-right">
								<i class="fa fa-exclamation"></i>
							</div>
						</div>
						<div class="media">
							<div class="media-body text-right">
								<h4 class="media-heading">Renseigner</h4>
								<p>Le Théochrone veut être un calendrier liturgique pour tous les rits traditionnels, tous les propres locaux, toutes les églises mêmes, et ce pour toutes les époques. Nous avons besoin d'informations, mais la tâche est lourde. Aussi, tout ce que vous pouvez connaître au sujet des fêtes de tel diocèse ou de telle abbaye, n'hésitez pas à nous les transmettre pour que nous puissions enrichir notre base.</p>
							</div>
							<div class="media-right">
								<i class="fa fa-envelope"></i>
							</div>
						</div>
					</div>
					<div class="space visible-xs"></div>
					<div class="col-sm-6">
						<div class="media">
							<div class="media-left">
								<i class="fa fa-check-square-o"></i>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Tester</h4>
								<p>Nous faisons tous nos efforts pour offrir le programme le plus performant et le plus fiable. Néanmoins, il est humainement impossible de ne pas faire d'erreur. Aussi, si vous pouviez tester un maximum de fonctionnalités sur un maximum de machines, vérifier toutes les informations rentrées pour chaque fête, et nous faire par des problèmes rencontrés, cela nous serait très utile.</p>
							</div>
						</div>
						<div class="media">
							<div class="media-left">
								<i class="fa fa-code"></i>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Développer</h4>
								<p>Vous avez des compétences en python3 ou en développement web ? Vous voulez proposer une nouvelle fonction, voire un nouvel algorithme, ou simplement corriger un bogue ? Nous avons besoin d'aide pour maintenir et développer le programme. Langages et frameworks utilisés : python3 avec PyQt5 et Django1.10, Cython, HTML5/CSS3 avec Boostrap, JavaScript avec JQuery. <a target="_blank" href="https://github.com/paucazou/theochrone" alt="Theochrone - GitHub">N'hésitez pas à visiter notre dépôt Git et à devenir contributeur !</a></p>
							</div>
						</div>
						<div class="media">
							<div class="media-left">
								<i class="fa fa-picture-o"></i>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Embellir</h4>
								<p>Faute d'avoir les compétences dans le domaine, le design actuel du site relève plus du bricolage que d'un travail professionnel. Nous recherchons donc de l'aide pour proposer un design plus élégant et plus conforme à l'esprit liturgique. Nous recherchons également un illustrateur pour proposer des représentations des différentes fêtes, afin de trouver un peu plus d'unité.</p>
							</div>
						</div>
						<div class="media">
							<div class="media-left">
								<i class="fa fa-language"></i>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Traduire</h4>
								<p>Le Théochrone vise à l'universalité. Si vous avez quelques compétences en anglais, espagnol, voire en papou ou en swahili, n'hésitez pas à proposer vos services. En plus du site, la traduction concerne essentiellement des textes liturgiques et des termes informatiques.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- section end -->
	<!-- section start -->
		<!-- ================ -->
		<div class="default-bg space blue">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="text-center">Contactez-nous !</h1>
					</div>
				</div>
			</div>
		</div>
		<!-- section end -->
	<footer>
	<!-- .subfooter start -->
			<!-- ================ -->
			<div class="subfooter">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
                                                        <p class="text-center">Le Théochrone est sous licence <a target="_blank" href="https://creativecommons.org/licenses/by-nd/4.0/" alt="Creative Commons licence 4.0">Creative Commons Attribution-NoDerivatives 4.0 International (CC BY-ND 4.0)</a></p>
							<p class="text-center">Design : Copyright © 2014 Worthy by <a target="_blank" href="http://htmlcoder.me">HtmlCoder</a>.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- .subfooter end -->
	</footer>
	
		<!-- JavaScript files placed at the end of the document so the pages load faster
		================================================== -->
		<!-- Jquery and Bootstap core js files -->
		<script type="text/javascript" src="{% static "kalendarium/plugins/jquery.min.js" %}"></script>
		<script type="text/javascript" src="{% static "kalendarium/bootstrap/js/bootstrap.min.js" %}"></script>

		<!-- Modernizr javascript -->
		<script type="text/javascript" src="{% static "kalendarium/plugins/modernizr.js" %}"></script>

		<!-- Isotope javascript -->
		<script type="text/javascript" src="{% static "kalendarium/plugins/isotope/isotope.pkgd.min.js" %}"></script>
		
		<!-- Backstretch javascript -->
		<script type="text/javascript" src="{% static "kalendarium/plugins/jquery.backstretch.min.js" %}"></script>

		<!-- Appear javascript -->
		<script type="text/javascript" src="{% static "kalendarium/plugins/jquery.appear.js" %}"></script>

		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="{% static "kalendarium/js/template.js" %}"></script>

		<!-- Custom Scripts -->
		<script type="text/javascript" src="{% static "kalendarium/js/custom.js" %}"></script>
</body>
</html>
