{% load static %}
<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="fr">
<!--<![endif]-->
	<head>
                <meta charset="utf-8" />
		<title>Theochrone : {% block title %}{% endblock %}</title>
		<meta name="description" content="Theochrone. A Liturgical Calendar for Tridentine Rite.">
		<meta name="author" content="Philippe Aucazou">

		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Favicon -->
		<link rel="shortcut icon" href="{% static "kalendarium/images/favicon.ico" %}">

		<!-- Web Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>

		<!-- Bootstrap core CSS -->
		<link href="{% static "kalendarium/bootstrap/css/bootstrap.css" %}" rel="stylesheet">

		<!-- Font Awesome CSS -->
		<link href="{% static "kalendarium/fonts/font-awesome/css/font-awesome.css" %}" rel="stylesheet">

		<!-- Plugins -->
		<link href="{% static "kalendarium/css/animations.css" %}" rel="stylesheet">

		<!-- Worthy core CSS file -->
		<link href="{% static "kalendarium/css/style.css" %}" rel="stylesheet">

		<!-- Custom css --> 
		<link href="{% static "kalendarium/css/custom.css" %}" rel="stylesheet">
	</head>
	<body class="no-trans">
		<!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop"><i class="icon-up-open-big"></i></div>

		<!-- header start -->
		<!-- ================ --> 
		<header class="header fixed clearfix navbar navbar-fixed-top">
			<div class="container">
				<div class="row">
					<div class="col-md-4">

						<!-- header-left start -->
						<!-- ================ -->
						<div class="header-left clearfix">

							<!-- logo -->
							<div class="logo smooth-scroll">
								<a href="#home"><img id="logo" src="{% static "kalendarium/images/logo.png" %}" alt="Theochrone"></a>
							</div>

							<!-- name-and-slogan -->
							<div class="site-name-and-slogan smooth-scroll">
								<div class="site-name"><a href="#home">Théochrone</a></div>
								<div class="site-slogan">Le temps au service de Dieu</div>
							</div>

						</div>
						<!-- header-left end -->

					</div>
					<div class="col-md-8">

						<!-- header-right start -->
						<!-- ================ -->
						<div class="header-right clearfix">

							<!-- main-navigation start -->
							<!-- ================ -->
							<div class="main-navigation animated">

								<!-- navbar start -->
								<!-- ================ -->
								<nav class="navbar navbar-default" role="navigation">
									<div class="container-fluid">

										<!-- Toggle get grouped for better mobile display -->
										<div class="navbar-header">
											<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
												<span class="sr-only">Toggle navigation</span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
											</button>
										</div>

										<!-- Collect the nav links, forms, and other content for toggling -->
										<div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
											<ul class="nav navbar-nav navbar-right">
												<li><a href="#result">Résultats</a></li>
												<li><a href="#research">Recherche</a></li>
												<li><a href="#download">Télécharger</a></li>
												<li><a href="#help">Aide</a></li>
												<li><a href="#contribute">Contribuer</a></li>
												<li><a href="#contact">Contact</a></li>
											</ul>
										</div>

									</div>
								</nav>
								<!-- navbar end -->

							</div>
							<!-- main-navigation end -->

						</div>
						<!-- header-right end -->

					</div>
				</div>
			</div>
		</header>
		<!-- header end -->
		
		
	<!-- banner start -->
		<!-- ================ -->
		<div id="home" class="banner">
			<div class="banner-image"></div>
			<div class="banner-caption">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 object-non-visible" data-animation-effect="fadeIn">
							<h1 class="text-center">Bienvenue dans le <span>Théochrone</span></h1>
							<p class="lead text-center">Le Théochrone, un calendrier liturgique perpétuel selon le rit tridentin (missel de 1962).<a class="btn" data-toggle="modal" data-target="#theowhat">En savoir plus...</a></p>
							
							<!-- Modal -->
								<div class="modal fade" id="theowhat" tabindex="-1" role="dialog" aria-labelledby="theowhat-label" aria-hidden="true">
									<div class="modal-dialog modal-lg">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
												<h4 class="modal-title" id="theowhat-label">En deux mots...</h4>
											</div>
											<div class="modal-body">
												<h3>Qu'est-ce que le Théochrone ?</h3>
												<div class="row">
													<div class="col-md-6">
														<p>Le Théochrone, qu'est-ce ? Un calendrier liturgique selon le rit tridentin, qui suit le missel de 1962. Rentrez une date, il vous donnera une fête, et même souvent plusieurs. Rentrez le nom d'un saint, ou d'une fête : il vous donnera sa date. Peu avare d'informations, le Théochrone peut aussi vous donner la couleur liturgique, la classe, le temps liturgique, et bien d'autres choses encore. Il se plie en trois pour vous satisfaire : vous pouvez l'utiliser en ligne, sur ce site, mais aussi <a href="#download">le télécharger</a> et l'utiliser grâce à une superbe interface graphique, et même en ligne de commandes ! </p>
													</div>
													<div class="col-md-6">
														<img src="{% static "kalendarium/images/portfolio-2.jpg" %}" alt="">
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
								<!-- Modal end -->
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- banner end -->
	
		{% block content %}{% endblock %}
		
        <!-- section start -->
		<!-- ================ -->
		<div class="section translucent-bg bg-image-2 pb-clear">
			<div class="container object-non-visible" data-animation-effect="fadeIn">
				<h1 id="download" class="title text-center">Télécharger</h1>
				<div class="space"></div>
				<div class="row">
					<div class="col-md-4">
						<div class="media testimonial">
							<div class="media-left">
								<img class="img-responsive" src="{% static "kalendarium/images/windows.png" %}" alt="Windows logo">
							</div>
							<div class="media-body">
								<h3 class="media-heading">Windows</h3>
								<blockquote>
									<p>Bien sûr, le Théochrone fonctionne sur Windows ! Téléchargez-le et utilisez-le, même hors connexion.</p>
									<footer><a href="{% static "kalendarium/downloads/windows/Theochrone.exe" %}" alt="Download Theochrone for Windows">Télécharger <cite title="Source Title">(Version O.1)</cite></a></footer>
								</blockquote>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="media testimonial">
							<div class="media-left">
								<img class="img-responsive" src="{% static "kalendarium/images/osx.png" %}" alt="Mac OS X logo">
							</div>
							<div class="media-body">
								<h3 class="media-heading">Mac OS X</h3>
								<blockquote>
									<p>Vous avez un Mac ? Vous pouvez télécharger le Théochrone sur votre ordinateur : c'est compatible !</p>
									<footer><a href="{% static "kalendarium/downloads/osx/Theochrone" %}" alt="Download Theochrone for Mac OS X">Télécharger <cite title="Source Title">(Version O.1)</cite></a></footer>
								</blockquote>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="media testimonial">
							<div class="media-left">
								<img class="img-responsive" src="{% static "kalendarium/images/tux.png" %}" alt="Tux Linux logo">
							</div>
							<div class="media-body">
								<h3 class="media-heading">Linux</h3>
								<blockquote>
									<p>Développé sur GNU/Linux, le Théochrone fonctionne merveilleusement sur... GNU/Linux ! Téléchargez-le pour l'utiliser partout.</p>
									<footer><a href="{% static "kalendarium/downloads/linux/Theochrone" %}" alt="Download Theochrone for GNU/Linux">Télécharger <cite title="Source Title">(Version O.1)</cite></a></footer>
								</blockquote>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="media testimonial">
							<div class="media-left">
								<img class="img-responsive" src="{% static "kalendarium/images/python.png" %}" alt="Python logo">
							</div>
							<div class="media-body">
								<h3 class="media-heading">Python</h3>
								<blockquote>
									<p>Vous avez déjà un interpréteur Python (python3.5>) ? Vous pouvez télécharger une archive du Théochrone sans le superflu.</p>
									<footer><a href="{% static "kalendarium/downloads/python/Theochrone.zip" %}" alt="Download Theochrone without Python interpreter">Télécharger <cite title="Source Title">(Version O.1)</cite></a></footer>
								</blockquote>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="media testimonial">
							<div class="media-left">
								<img class="img-responsive" src="{% static "kalendarium/images/android.png" %}" alt="Android logo">
							</div>
							<div class="media-body">
								<h3 class="media-heading">Android</h3>
								<blockquote>
									<p>Nous cherchons des contributeurs pour développer une version Android !</p>
									<footer><a href="#contribute">Contribuer</a></footer>
								</blockquote>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="media testimonial">
							<div class="media-left">
								<img class="img-responsive" src="{% static "kalendarium/images/ios.png" %}" alt="iOS logo">
							</div>
							<div class="media-body">
								<h3 class="media-heading">iOS</h3>
								<blockquote>
									<p>Nous cherchons des contributeurs pour développer une version iOS !</p>
									<footer><a href="#contribute">Contribuer</a></footer>
								</blockquote>
							</div>
						</div>
					</div>
                                </div>
			</div>
			
		</div>
		<!-- section end -->
		
        <!-- section start -->
		<!-- ================ -->
		<div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 id="help" class="title text-center">Aide du <span>Théochrone</span></h1>
						
						<div class="space"></div>
						<h2>Sommaire</h2>
						<ul class="list-unstyled">
                                                    <li><i class="fa fa-caret-right pr-10 text-colored"></i><a href="#help_download">Aide au téléchargement</a></li>
                                                    <li><i class="fa fa-caret-right pr-10 text-colored"></i><a href="#help_online">Aide de l'application en ligne</a></li>
                                                    <li><i class="fa fa-caret-right pr-10 text-colored"></i><a href="#help_gui">Aide de l'interface graphique</a></li>
                                                    <li><i class="fa fa-caret-right pr-10 text-colored"></i><a href="#help_cli">Aide de la ligne de commande</a></li>
                                                </ul>

<h2 id="help_download">Aide au téléchargement</h2>

<div class="alert alert-info"><i class="fa fa-info-circle" aria-hidden="true"></i> Plusieurs options vous sont proposées pour télécharger le programme.</div>
<h3>Téléchargement de la version tout-en-un</h3>
<p class="text-justify">Choisissez le système d’exploitation qui vous correspond. Si vous ne savez pas quel système d’exploitation vous utilisez, téléchargez la version Windows. Cliquez simplement sur le lien <mark>Télécharger</mark> : votre navigateur vous proposera bientôt le téléchargement. Une fois le programme téléchargé, placez-le dans le dossier qui vous convient et double-cliquez simplement dessus. Pour l’utiliser, consultez l’aide ci-dessous.</p>
<h3>Téléchargement sans l’interpréteur Python (version légère)</h3>
<p class="text-justify">Si vous avez déjà une version de Python (c’est le cas pour les utilisateurs de Mac OS X et la plupart des utilisateurs de Linux), vous pouvez vous contenter de télécharger le programme sans les bibliothèques : ce sera plus léger, mais tout aussi efficace. Vérifiez que vous avez la bonne version de python. Ouvrez un terminal et tapez la commande suivante :</p>
<pre>$ python –version
Python 3.5.3</pre>
<p class="text-justify">Il vous faut une version supérieure à la <mark>3.5</mark>. Si vous avez une version inférieure, téléchargez une version plus à jour de Python.<br>
Téléchargez le programme. Décompressez l’archive dans le dossier qui vous convient. Vous n’avez pas besoin de bibliothèques supplémentaires si vous voulez utiliser le Théochrone en ligne de commandes. Pour utiliser la version graphique ou web en local, ouvrez un terminal, placez-vous dans le dossier <mark>./Theochrone</mark> et tapez la commande suivante :</p>
<pre>$ pip install -r requirements.txt</pre>
<p class="text-justify">Il vous faudra peut-être avoir <span class="bg-danger">les droits de superutilisateur (root)</span> et, selon les versions, taper <mark>pip3</mark> au lieu de <mark>pip</mark>.</p>

<h2 id="help_online">Aide de l’application en ligne</h2>

<h3>Recherche par date seule</h3>
<div class="row">
<div class="col-sm-4"><img class="img-thumbnail img-responsive" src="{% static "kalendarium/images/fete_seule.png" %}" alt="fete_seule"> </div>
<div class="col-sm-8"><p class="text-justify">Ce module vous permet de rechercher la ou les fêtes qui sont célébrées pour une date précise. La recherche ne peut se faire qu’entre les années 1960 et 2100.</p></div></div>

<h3>Recherche par mot-clef</h3>
<div class="row"><div class="col-sm-4"><img class="img-thumbnail img-responsive" src="{% static "kalendarium/images/mot_clef.png" %}" alt="Mots clefs"> </div>
<div class="col-sm-8"><p class="text-justify">Ce module vous permet de rechercher la date à laquelle est célébrée la fête rentrée pour l’année choisie. En fonction des mots-clefs rentrés, des résultats différents peuvent apparaître. Par exemple, rentrer le mot-clef <mark>jean</mark> donne la liste de tous les saints portant ce prénom dans le calendrier. En revanche, <mark>jean bosco</mark> ne donne que le saint qui porte ce nom. De même, rentrer <mark>dimanche avent</mark> donne la liste des dimanches de l’Avent, mais préciser davantage permet d’affiner la sélection.<br>
Il est possible de cocher la case <mark>Recherche large</mark> pour obtenir des résultats plus larges. Toutefois, ceux-ci pourront être équivalents aux autres en fonction des mots-clefs rentrés.</p></div></div>

<h3>Recherche par mois</h3>

<div class="row"><div class="col-sm-4"><img class="img-thumbnail img-responsive" src="{% static "kalendarium/images/mois_entier.png" %}" alt="Mois entier"> </div>
<div class="col-sm-8"><p class="text-justify">Ce module vous permet d’afficher l’intégralité des fêtes célébrées pendant le mois rentré pour l’année recherchée. La recherche ne peut se faire qu’entre les années 1960 et 2100.</p></div></div>

<h3>Lire les résultats</h3>

<p class="text-justify"><img class="img-thumbnail img-responsive" src="{% static "kalendarium/images/resultat1.png" %}" alt="Résultats">Les résultats sont affichés de la même manière pour tous les types de recherche (à quelques exceptions près précisées ci-dessous).<br>Chaque résultat s’affiche sous la forme d’une suite de panneaux dépliants. Si l’utilisateur s’est servi de la recherche par mois, les résultats sont affichés dans l’ordre chronologique, du premier jour du mois jusqu’au dernier. À l’intérieur de chaque jour affiché, l’ordre est le même que celui de la recherche par date : les résultats sont affichés dans l’ordre décroissant de préséance. Les résultats d’une recherche par mots-clefs sont affichés dans l’ordre de probabilité.<br>
Chacun des panneaux dépliants affiche une fête et une seule. Sur la barre supérieure est affiché le nom de la fête et, si la recherche a été faite par mot-clef, sa date. L’intérieur du panneau se présente de la manière suivante :<br>
à gauche, une image illustrant la fête ; à droite, les informations sous la forme d’un tableau :</p>
<ol>
<li>le propre (romain, dominicain, parisien…) ;</li><li>l’année de sortie du missel (1962, 1950, etc.) ;</li><li>si la fête est célébrée, commémorée, omise ou transférée : si c’est un jour de férie ou une commémoraison, il est indiqué : peut être célébrée ; le choix en revient au célébrant s’il y a occurrence ;</li><li>si la fête appartient au temporal ou au sanctoral ;</li><li>le temps liturgique : le temps liturgique entre parenthèses (s’il y a lieu) comprend celui qui est à gauche ;</li><li>si la fête est transférée (et dans ce cas, elle indique la date à laquelle elle est ordinairement fixée).</li></ol>
<p class="text-justify">Le bas du panneau propose un lien vers le site <a target="_blank" href="http://introibo.fr" alt="Introibo.fr">Introibo.fr</a> pour y consulter les textes de l’office et de la messe.</p>

<h2 id="help_gui">Aide de l’application avec l’interface graphique</h2>

<div class="alert alert-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Attention ! Le programme est encore en version béta. Il est possible que certaines fonctionnalités soient manquantes ou ne remplissent pas correctement leur tâche.</div>
<p class="text-justify">Le Théochrone, une fois téléchargé, propose deux options principales d’utilisation : l’application en lignes de commandes (voir plus bas) et l’application avec une interface graphique, plus intuitive et plus facile d’utilisation. Ce sera le choix de la majorité des utilisateurs. Cette présente aide ne prétend pas documenter exhaustivement l’utilisation de l’interface graphique. Reportez-vous à l’aide spécifique pour cela (voir plus bas).</p>
<h3>Ouvrir l’application</h3>
<p class="text-justify">Si vous avez téléchargé une version tout-en-un, double-cliquez simplement sur le fichier que vous avez téléchargé. Si vous avez téléchargé la version légère, double-cliquez sur <mark>theochrone.py</mark>.</p>
<h3>Présentation de l’interface</h3>
<p class="text-justify"><img class="img-thumbnail img-responsive" src="{% static "kalendarium/images/whole_screen.png" %}" alt="Capture d'écran de l'interface graphique">L'interface graphique se présente comme indiqué dans la capture d'écran ci-dessus (ici sous KDE/Plasma 5). Notez que l'apparence générale varie selon le système d'exploitation ou l'environnement de bureau que vous utilisez.</p>
<h3>Description du module de recherche</h3>
<p class="text-justify">Le module de recherche, situé sur la droite, se scinde en deux onglets, nommés <mark>1</mark> et <mark>+</mark>.</p>
<h4>Menu 1</h4>
<div class="row">
<div class="col-sm-4"><img class="img-thumbnail img-responsive" src="{% static "kalendarium/images/only_tab.png" %}" alt="fete_seule"></div>
<div class="col-sm-8"><p class="text-justify">Le premier onglet, <mark>1</mark>, permet de faire deux types de recherche.<br>
D’abord la recherche pour une date seule, sous la forme d’un calendrier. Cliquez simplement sur un jour pour afficher les résultats à l’écran (sur la gauche). Le calendrier affiche un mois entier : pour changer de mois, vous pouvez cliquer sur les flèches à droite ou à gauche pour avancer ou reculer d’un mois. Vous pouvez aussi cliquer sur le nom du mois : une liste déroulante apparaîtra, vous permettant de choisir un mois spécifique. Procédez de la même manière pour changer l’année.<br>
Juste en dessous, vous pouvez faire la recherche par mots-clefs. Cela fonctionne exactement de la même manière que le module de recherche par mots-clefs de la version web (voir plus haut).</p></div></div>
<h4>Menu +</h4>
<div class='row'>
<div class="col-sm-4"><img class="img-thumbnail img-responsive" src="{% static "kalendarium/images/plus_tab.png" %}" alt="fete_seule"></div>
<div class="col-sm-8"><p class="text-justify">Le deuxième onglet, <mark>+</mark> présente des résultats plus abondants et comporte quatre grandes parties : une recherche pour une semaine, pour un mois, pour une année, ou pour une période définie arbitrairement.<br>
Les trois premiers types de recherche fonctionnent de manière similaire : en cliquant sur le menu déroulant, on sélectionne une année (tous), un mois (mois et semaine) et une semaine (semaine seulement), et cliquer sur <mark>Ok</mark>. Les numéros de semaine sont calculés par rapport au mois choisi. La première semaine peut ne pas commencer par un dimanche si le premier jour du mois n’en est pas un. De même pour la dernière, qui peut ne pas terminer un samedi si le dernier jour du mois ne l’est pas. Pour afficher une semaine complète qui soit à cheval sur deux mois, choisissez plutôt la recherche par période définie arbitrairement.
La recherche par période définie arbitrairement vous permet de sélectionner une période dont vous aurez vous-même défini les bornes. Deux widgets vous permettent de définir ces deux bornes. Ils fonctionnent de la même manière : vous pouvez soit rentrer la date manuellement, soit cliquer sur la flèche à droite pour obtenir un calendrier qui vous permettra de choisir votre date.</p></div></div>

<h3>Les menus</h3>
<p class="text-justify">Il existe plusieurs menus. Pour l’heure, il est seulement possible de quitter. Le raccourci <kbd>Ctrl+Q</kbd> est également disponible.</p>


<h2 id="help_cli">Aide de l’application en ligne de commandes</h2>
<div class="alert alert-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Attention ! Le programme est encore en version béta. Il est possible que certaines fonctionnalités soient manquantes ou ne remplissent pas correctement leur tâche.</div>
<h3>Utiliser la ligne de commandes</h3>
<p class="text-justify">Le Théochrone peut être utilisé en ligne de commandes. C’est même le moyen le plus rapide et le plus puissant. En raison du grand nombre d’options dont la ligne de commandes dispose, cette aide se veut une simple introduction. Pour connaître toutes les options, tapez :</p>
<pre>$ theochrone --help</pre>
<p class="text-justify">Lancé sans options, le Théochrone renvoie tout ce qui est célébré ou commémoré le jour même. Pour obtenir les résultats d’un autre jour, il suffit de rentrer une date, par exemple :</p>
<pre>$ theochrone 1er janvier 2020</pre>
<p class="text-justify">Par défaut, le résultat n’est pas très instructif. Plusieurs options d’affichage s’offrent à vous : pour les obtenir toutes, rajoutez simplement l’option <mark>-v/--verbose.</mark><br>
Pour faire une recherche par mot-clef, tapez simplement ceci :</p>
<pre>$ theochrone -r saint jean</pre>
<p class="text-justify">Attention à bien mettre les mots-clefs <strong>après</strong> l’option <mark>-r</mark> ! Vous pouvez préciser l’année de recherche :</p>
<pre>$ theochrone -r pâques 1900</pre>
<p class="text-justify">La version en ligne de commandes permet d’afficher les résultats pour des périodes de durée diverses, non seulement pour un mois précis, mais aussi pour une année, une semaine, voire une durée tout à fait arbitraire :</p>
<pre>$ theochrone août 2000 # Tout le mois d’août 2020. L’année est optionnelle.
$ theochrone 2300 # Toute l’année 2300
$ theochrone semaine # Toute la semaine en cours
$ theochrone --from 3 janvier 2015 --to 8 février 2015 # Tout le calendrier depuis le 3 janvier 2015 jusqu’au 8 février 2015.</pre>
<p class="text-justify">Tout cela n’est qu’un petit aperçu des possibilités de la ligne de commandes. Consultez <mark>-h/--help</mark> pour plus d’informations.</p>

<h3>Mise en place de l’utilisation en ligne de commandes</h3>
<p  class="text-justify">Sur Linux et Mac OS X : avant toute chose, il faut que vous vous accordiez le droit d’exécution du Théochrone. Ouvrez un terminal et tapez par exemple :</p>
<pre>$ chmod u+x theochrone.py</pre>
<p  class="text-justify">Nous vous suggérons de rajouter un alias pour une utilisation plus facile, par exemple :</p>
<pre>$ echo alias theochrone=’/chemin/vers/le/theochrone/theochrone.py’ >> ~/.bashrc #Bash
$ print alias theochrone=’/chemin/vers/le/theochrone/theochrone.py’ >> ~/.zshrc #Zsh</pre>
<p  class="text-justify">Sinon, placez-vous dans le dossier contenant le programme et tapez :</p>
<pre>$ ./theochrone.py</pre>
<p  class="text-justify">Il est possible d’activer l’autocomplétion pour utiliser le Théochrone. Pour cela tapez, ou rajoutez dans votre fichier de configuration la ligne suivante :</p>
<pre>$ source autocomplete_bash.sh # Bash (fonctionne aussi avec Zsh)
$ source autocomplete_zsh.sh # Zsh (beaucoup plus performant)</pre>

					</div>
				</div>
                        </div>
                    </div>
		<!-- section end -->

	<!-- section start -->
		<!-- ================ -->
		<div class="section translucent-bg bg-image-1 blue">
			<div class="container object-non-visible" data-animation-effect="fadeIn">
				<h1 id="contribute"  class="text-center title">Contribuer</h1>
				<div class="space"></div>
				<div class="row">
					<div class="col-sm-6">
						<div class="media">
							<div class="media-body text-right">
								<h4 class="media-heading">Soutenir</h4>
								<p>Nous sommes conscients que ce n'est pas le Théochrone qui, à l'heure actuelle, a le plus besoin de soutien. Mais parce que rien ne peut se faire sans l'aide de Dieu, pourquoi ne pas dire un Ave Maria, ou n'importe quelle prière qui vous prendra moins d'une minute ? <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=J4WSB2Z7Y3MQ6">Vous pouvez également nous faire un don</a> : nos contributeurs sont bénévoles, mais nous avons des frais d'hébergement.</p>
							</div>
							<div class="media-right">
								<i class="fa fa-heart"></i>
							</div>
						</div>
                                        </div>
                                        <div class="col-sm-6">
						<div class="media">
							<div class="media-left">
								<i class="fa fa-check-square-o"></i>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Tester</h4>
								<p>Nous faisons tous nos efforts pour offrir le programme le plus performant et le plus fiable. Néanmoins, il est humainement impossible de ne pas faire d'erreur. Aussi, si vous pouviez tester un maximum de fonctionnalités sur un maximum de machines, vérifier toutes les informations rentrées pour chaque fête, et nous faire par des problèmes rencontrés, cela nous serait très utile.</p>
							</div>
						</div>
                                        </div>
                                </div>
                                <div class="row">
					<div class="col-sm-6">
						<div class="media">
							<div class="media-body text-right">
								<h4 class="media-heading">Faire connaître</h4>
								<p>Le Théochrone ne sert à rien s'il n'est pas utilisé. Faites le connaître autour de vous : partagez la page sur les réseaux sociaux, mettez un lien sur votre site, écrivez un article sur ce sujet, mais plus encore : parlez-en à vos proches, et dites leur d'en parler.</p>
							</div>
							<div class="media-right">
								<i class="fa fa-bullhorn"></i>
							</div>
						</div>
                                        </div>
                                        <div class="col-sm-6">
						<div class="media">
							<div class="media-left">
								<i class="fa fa-code"></i>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Développer</h4>
								<p>Vous avez des compétences en python3 ou en développement web ? Vous voulez proposer une nouvelle fonction, voire un nouvel algorithme, ou simplement corriger un bogue ? Nous avons besoin d'aide pour maintenir et développer le programme. Langages et frameworks utilisés : python3 avec PyQt5 et Django1.10, Cython, HTML5/CSS3 avec Boostrap, JavaScript avec JQuery. <a target="_blank" href="https://github.com/paucazou/theochrone" alt="Theochrone - GitHub">N'hésitez pas à visiter notre dépôt Git et à devenir contributeur !</a></p>
							</div>
						</div>
                                        </div>
                                    </div>
                                    <div class="row">
					<div class="col-sm-6">
                                                <div class="media">
							<div class="media-body text-right">
								<h4 class="media-heading">Suggérer</h4>
								<p>Le Théochrone se veut au service de ses utilisateurs : vous avez un besoin particulier, une fonctionnalité nouvelle que vous voudriez proposer, une amélioration ou quoi que ce soit à nous proposer ? N'hésitez pas à nous transmettre votre suggestion : nous en tiendrons compte et mettrons tout en œuvre pour vous satisfaire.</p>
							</div>
							<div class="media-right">
								<i class="fa fa-exclamation"></i>
							</div>
						</div>
                                        </div>
                                        <div class="col-sm-6">
                                                <div class="media">
							<div class="media-left">
								<i class="fa fa-picture-o"></i>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Embellir</h4>
								<p>Faute d'avoir les compétences dans le domaine, le design actuel du site relève plus du bricolage que d'un travail professionnel. Nous recherchons donc de l'aide pour proposer un design plus élégant et plus conforme à l'esprit liturgique. Nous recherchons également un illustrateur pour proposer des représentations des différentes fêtes, afin de trouver un peu plus d'unité.</p>
							</div>
						</div>
                                        </div>
                                    </div>
                                    <div class="row">
					<div class="col-sm-6">
						<div class="media">
							<div class="media-body text-right">
								<h4 class="media-heading">Renseigner</h4>
								<p>Le Théochrone veut être un calendrier liturgique pour tous les rits traditionnels, tous les propres locaux, toutes les églises mêmes, et ce pour toutes les époques. Nous avons besoin d'informations, mais la tâche est lourde. Aussi, tout ce que vous pouvez connaître au sujet des fêtes de tel diocèse ou de telle abbaye, n'hésitez pas à nous les transmettre pour que nous puissions enrichir notre base.</p>
							</div>
							<div class="media-right">
								<i class="fa fa-envelope"></i>
							</div>
						</div>
					</div>
                                        <div class="col-sm-6">
                                            <div class="media">
							<div class="media-left">
								<i class="fa fa-language"></i>
							</div>
							<div class="media-body">
								<h4 class="media-heading">Traduire</h4>
								<p>Le Théochrone vise à l'universalité. Si vous avez quelques compétences en anglais, espagnol, voire en papou ou en swahili, n'hésitez pas à proposer vos services. En plus du site, la traduction concerne essentiellement des textes liturgiques et des termes informatiques.</p>
							</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="space visible-xs"></div>
			</div>
		</div>
		<!-- section end -->
	<!-- section start -->
		<!-- ================ -->
		<div class="default-bg space blue">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="text-center">Ad majorem Dei gloriam</h1>
					</div>
				</div>
			</div>
		</div>
		<!-- section end -->
	<footer>
	<!-- ================ -->
			<div class="footer section">
				<div class="container">
					<h1 class="title text-center" id="contact">Contactez-nous !</h1>
					<div class="space"></div>
					<div class="row">
						<div class="col-sm-6">
							<div class="footer-content">
								<p class="large">Une question ? Une suggestion ? Une proposition de collaboration ? Quelle que soit votre raison, n'hésitez pas à nous contacter via ce formulaire.<br>
								À ce jour, il n'est pas encore possible d'envoyer des pièces-jointes par ce moyen, mais vous pouvez toujours prendre un premier contact dont la réponse vous permettra de joindre des documents.</p>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="footer-content">
								<form role="form" id="footer-form" method='post'>
									<div class="form-group has-feedback">
										<label class="sr-only" for="email2">Adresse</label>
										<input type="email" class="form-control" id="email2" placeholder="Adresse courriel" name="email2" required>
										<i class="fa fa-envelope form-control-feedback"></i>
									</div>
									<div class="form-group has-feedback">
										<label class="sr-only" for="name2">Objet</label>
										<input type="text" class="form-control" id="name2" placeholder="Objet" name="name2" required>
										<i class="fa fa-comment form-control-feedback"></i>
									</div>
									<div class="form-group has-feedback">
										<label class="sr-only" for="message2">Message</label>
										<textarea class="form-control" rows="8" id="message2" placeholder="Message" name="message2" required></textarea>
										<i class="fa fa-pencil form-control-feedback"></i>
									</div>
									<input type="submit" value="Envoyer" class="btn btn-default">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- .footer end -->

	<!-- .subfooter start -->
			<!-- ================ -->
			<div class="subfooter">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
                                                        <p class="text-center">Le Théochrone est sous licence <a target="_blank" href="https://creativecommons.org/licenses/by-nd/4.0/" alt="Creative Commons licence 4.0">Creative Commons Attribution-NoDerivatives 4.0 International (CC BY-ND 4.0)</a></p>
							<p class="text-center">Design : Copyright © 2014 Worthy by <a target="_blank" href="http://htmlcoder.me">HtmlCoder</a>.</p>
							<p class="text-center">Hébergement : ALWAYSDATA 62 rue Tiquetonne, 75002 Paris (+33 1 84 16 23 40).</p>
						</div>
					</div>
				</div>
			</div>
			<!-- .subfooter end -->
			
	</footer>
	
		<!-- JavaScript files placed at the end of the document so the pages load faster
		================================================== -->
		<!-- Jquery and Bootstap core js files -->
		<script type="text/javascript" src="{% static "kalendarium/plugins/jquery.min.js" %}"></script>
		<script type="text/javascript" src="{% static "kalendarium/bootstrap/js/bootstrap.min.js" %}"></script>

		<!-- Modernizr javascript -->
		<script type="text/javascript" src="{% static "kalendarium/plugins/modernizr.js" %}"></script>

		<!-- Isotope javascript -->
		<script type="text/javascript" src="{% static "kalendarium/plugins/isotope/isotope.pkgd.min.js" %}"></script>
		
		<!-- Backstretch javascript -->
		<script type="text/javascript" src="{% static "kalendarium/plugins/jquery.backstretch.min.js" %}"></script>

		<!-- Appear javascript -->
		<script type="text/javascript" src="{% static "kalendarium/plugins/jquery.appear.js" %}"></script>

		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="{% static "kalendarium/js/template.js" %}"></script>

		<!-- Custom Scripts -->
		<script type="text/javascript" src="{% static "kalendarium/js/custom.js" %}"></script>
</body>
</html>
