body
{
    color: grey;
}


#conteneur
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-content: stretch;
    color: red;
}

#resultats
{
    display: flex;
    flex-direction: column;
    flex:1;
}

#value
{
    display: flex;
    flex-direction: column;
    
}
#entourage
{
    display: flex;
    flex-direction: row;
}
#image
{
    border: 2px solid grey;
    border-radius: 9px;
    padding: 5px 4px 5px 4px;
    display: flex;
}

#result
{
    border: 2px solid grey;
    border-radius: 9px;
    padding: 5px 4px 5px 4px;
    display: flex;
}

form
{
    border: 2px solid grey;
    border-radius: 9px;
    padding: 5px 4px 5px 4px;
    display: flex;
}
#search
{
    display: flex;
    flex-direction: column;
    width: 30%;
}
input
{
    margin: 14px;
}


#into_header
{
    display: flex;
    justify-content: space-between;
}

#banniere
{
    display: flex;
    font-size: 300%;
}
#banniere img
{
    width: 7%;
    height: 70%;
}


nav ul
{
    display: flex;
    margin: auto;
    padding: 10px;
    list-style: none;

}

nav li
{
    margin-right: 3%;
}

