body
{
    color: grey;
    margin: auto;
}

td
{
    width: 70%;
    border: 4px solid black;
    border-radius: 10px;
    box-shadow: 6px 6px 2px grey;
    padding: 0px 7px 10px 7px;
    color: red;
}

table
{
    width: 100%;
    height: 70%;
    empty-cells: hide;
}

form
{
    border: 2px solid grey;
    border-radius: 9px;
    padding: 5px 4px 5px 4px;
    display: flex;
}

input
{
    margin: 15px;
}

#image
{
    list-style-type: none;
    width: 25%;
    border: 2px solid grey;
    margin: 15px;
    margin-bottom: 20px;
    padding: 5px 4px 5px 4px;
    border-radius: 9px;
    box-shadow: none;
}
    
#result
{
    list-style-type: none;
    width: 70%;
    border: 2px solid grey;
    border-collapse:collapse;
    margin: 0px 4px 5px 4px;
    padding: 5px 4px 5px 4px;
    border-radius: 9px;
    box-shadow: none;
}

nav ul
{
    display: flex;
    float:left;
    left:80%;
    position:relative;
}

nav li
{
    margin: 10%;
    text-align: center;
    list-style-type:none;
}
